.Home{
    height: 5559px;
    width:100%;
     border: 1px solid black; 
     /* background: #800586; */
     
     /* background: #000; */
     background: #FC466B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.innerhome{
    height: 409px;
    width:580px;
     /* border: 1px solid black;  */
     margin-left: 216px;
     margin-top: 116px;
     /* margin-left: 20%; */
     /* padding: 200px */
     
     /* background: #000; */

}
.heading{
    color: whitesmoke;
}
.btndd{
    width: 110px;
    height: 60px;
}
.img1{
    /*margin-left: left 50%;
    */margin-top:  10%;
    padding: auto;
    height: 600px;
    width: 800px;
    background-image: url('123.jpg');
    background-size: cover;
    /*height: 100%;
    */background-position: center;
    background-repeat: no-repeat;
    /*width: 100%;
    */border-radius:30% ;}

    .home-btn{
        background: #f9f9f9;/* background: #000; */
        background: #FC466B;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
        color: rgb(0, 0, 0);
    border-radius: 200px;
    height: inherit;
    width: inherit;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 40px;
    border: 4px solid rgb(249, 249, 249);
padding:10px}
    
    